<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="jquery-2.1.3.min.js"></script>
    <script>
        $(document).ready(function () {


            $("#but1").click(function () {
                $.ajax({
                    //url:'http://10.10.1.61:8086/third-party-service/irdainfo',
                    url: 'http://localhost:8089/login',

                    type: 'POST',
                    //data: JSON.stringify({"action":"IRA0","type":"LE","code":"1c004b024c0e4b024c0e4b02f0054b024c0e4b024c0e4b02f0054b028e764b024c0e4b024c0e4b02f0054b024c0e4b024c0e4b02f0054b028e76"}),
                    data: JSON.stringify({"username": "lindec", "password": "123456", "age": "25"}),
                    //data: {"action":"IRA0","type":"LE","code":"1c004b024c0e4b024c0e4b02f0054b024c0e4b024c0e4b02f0054b028e764b024c0e4b024c0e4b02f0054b024c0e4b024c0e4b02f0054b028e76"},

                    contentType: "application/json",

                    //dataType: "jsonp",

                    dataType: "json",
                    success: function (data) {
                        // alert(json);
                        alert("ok");
                    }

                });
            });


        });
    </script>
</head>
<body>

<div id="div1"><h2> AJAX 跨域测试</h2></div>
<button id="but1">按钮 1</button>
<br/>
<button id="but2">按钮 2</button>

</body>
</html> 